$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

@import 'sass-bootstrap/lib/bootstrap';




@import 'municipalityDetails.scss';
@import 'list.scss';



.controls {
  margin-top: 30px;
  margin-bottom: 25px;


  select {
    margin-top: 10px;
  }


}












