$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

@import 'sass-bootstrap/lib/bootstrap';





/*
$color-none: #fafafa;
$color-sub1: #edf8fb;
$color-sub2: #ccece6;
$color-sub3: #99d8c9;
$color-sub4: #66c2a4;
$color-sub5: #2ca25f;
$color-sub6: #006d2c;
*/

$color-selected: #f11111;


@import 'municipalityDetails.scss';
@import 'list.scss';
@import 'map.scss';





body {
  margin: 0;
  padding: 0;
  background-color: #052D4C;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  p {
    margin: 0;
  }
}

.national-data-container {
  display: inline-block;
  width: 100%;
  padding: 0 15px 0 15px;
}


ul {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  float: left;
}

h5 {
  color: #ffffff;
}

.panel-wrapper {
  background-color: #002039;
}


/*
.none {
  background-color: $color-none;
}

.sub1 {
  background-color: $color-sub1;
}

.sub2 {
  background-color: $color-sub2;
}

.sub3 {
  background-color: $color-sub3;
}

.sub4 {
  background-color: $color-sub4;
}

.sub5 {
  background-color: $color-sub5;
}

.sub6 {
  background-color: $color-sub6;
}



.legend {

  .color {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 3px 0 0;
    padding: 0;
  }

  .caption {
    padding: 0;
    margin: 0 15px 0 0;
    line-height: 1em;
  }

}
*/




.controls {
  margin-bottom: 20px;


  select {
    margin-top: 10px;
  }


}












