

.map {





  #map path {
    stroke: none;
  }

  #map path:hover {
    stroke: #000;
    /*stroke-width: 0.5;*/
    stroke-width: 0.3;
  }

  .selected {
    stroke: $color-selected !important;
    stroke-width: 1 !important;
  }

  .hide-municipality {
    fill-opacity: 0.1;
  }

  .none {
    fill: $color-none;
  }

  .sub1 {
    fill: $color-sub1;
  }

  .sub2 {
    fill: $color-sub2;
  }

  .sub3 {
    fill: $color-sub3;
  }

  .sub4 {
    fill: $color-sub4;
  }

  .sub5 {
    fill: $color-sub5;
  }

  .sub6 {
    fill: $color-sub6;
  }




}










