

.details {


	margin-top: 20px;


	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0;
		padding: 5px;
	}

  h4 {
    padding-left: 5px;
  }


}





/* chart */
text {
	fill: #000;
  font-size: 11px;
}

.axis-label-period {
  text-anchor: middle;
  fill: #000000;
  stroke: none;
  font-size: 14px;
}

.axis-label-total {
  text-anchor: middle;
  fill: #000000;
  stroke: none;
  font-size: 12px;
}

.slope {
  fill-opacity: 0.7;
}


/*
.tooltip-bg {
  fill: #a1a1a1;
  fill-opacity: 0.5;
  stroke: none;
}

.tooltip-text {
  fill: #000;
  stroke: none;
  text-anchor: start;
  font-size: 12px;
}
*/

.graph-tooltip {

  rect {
    fill: #a1a1a1;
    stroke: none;
    fill-opacity: 0.8;
  }

  text {
    text-anchor: start;
    fill: #000;
    stroke: none;
    font-size: 12px;
  }

}



/* chart categories */
.bestuur {
  stroke: none;
  fill: #d6792a;
}

.veiligheid {
  stroke: none;
  fill: #B99BC7;
}

.verkeer {
  stroke: none;
  fill: #7bb5b0;
}

.economisch {
  stroke: none;
  fill: #b4a589;
}

.onderwijs {
  stroke: none;
  fill: #e28e84;
}

.cultuur {
  stroke: none;
  fill: #e8b937;
}

.sociaal {
  stroke: none;
  fill: #436d8f;
}

.gezondheid {
  stroke: none;
  fill: #459ad4;
}

.huisvesting {
  stroke: none;
  fill: #1c6e6a;
}

.overig {
  stroke: none;
  fill: #c93126;
}




