
<input class="form-control" ng-model="search.$" placeholder="Zoek een gemeente">

<p>
  <span ng-if="filters.length > 0">Coalitie gemiddelde <span class="badge pull-right">€ {{convert.formatNumber(filteredAverage)}}</span></span>&nbsp;
</p>

<p>
  Nationaal gemiddelde <span class="badge pull-right">€ {{convert.formatNumber(average)}}</span>
</p>

<ul class="">

<!--
  <li class="header"><span ng-if="filters.length > 0">Coalitie gemiddelde <span class="badge pull-right">€ {{convert.formatNumber(filteredAverage)}}</span></span>&nbsp;</li>
  <li class="header">Nationaal gemiddelde <span class="badge pull-right">€ {{convert.formatNumber(average)}}</span></li>
-->
  

  <li class="" ng-repeat="municipality in dataset | filter:search" ng-class="{selected: municipality.selected==true}" ng-click="setSelected(municipality.id)">
    <span class="pull-left rank">{{municipality.rank}}</span>
    <span class="pull-left">{{municipality.name}}<br/>
      <span class="party" ng-repeat="party in municipality.coalition">{{convert.partyName(party)}}</span>
      <span class="party" ng-if="municipality.coalition.length === 0">Coalitie niet bekend</span>
    </span>
    <span class="badge pull-right {{getClass(municipality.value)}}">€ {{convert.formatNumber(municipality.value)}}</span>
    <span class="clearfix"></span>
  </li>

  <li class="text-warning" ng-if="dataset.length === 0">Geen gemeenten die aan deze voorwaarden voldoen!</li>
</ul>