


<!-- HEADER -->
<div class="row header">
  <div class="col-md-12">
    <img src="http://static1.volkskrant.nl/images/logos/vk_logo.gif?1" alt="Volkskrant.nl" title="Volkskrant.nl" width="396" height="48">
  </div>
</div>



<!-- CONTROLS -->
<div class="row controls panel-wrapper">


  <!-- dataset select -->
  <div class="col-sm-5">
    <h5>Selecteer een post</h5>
    <select ng-model="selectedDataset" class="form-control">
      <option value="totaal">Totale uitgaven (per inwoner in 2013)</option>
      <option value="bestuur">Algemeen Bestuur (uitgaven per inwoner in 2013)</option>
      <option value="veiligheid">Openbare orde en Veiligheid (uitgaven per inwoner in 2013)</option>
      <option value="verkeer">Verkeer, Vervoer en Waterstaat (uitgaven per inwoner in 2013)</option>
      <option value="economisch">Economische zaken (uitgaven per inwoner in 2013)</option>
      <option value="onderwijs">Onderwijs (uitgaven per inwoner in 2013)</option>
      <option value="cultuur">Cultuur en Recreatie (uitgaven per inwoner in 2013)</option>
      <option value="sociaal">Sociale zekerheid (uitgaven per inwoner in 2013)</option>
      <option value="gezondheid">Volksgezondheid en Milieu (uitgaven per inwoner in 2013)</option>
      <option value="huisvesting">Ruimtelijke ordening en Volkshuisvesting (uitgaven per inwoner in 2013)</option>
      <option value="overig">Overig (uitgaven per inwoner in 2013)</option>
      <option value="belasting">Belasting (per inwoner in 2013)</option>
      <!--
      <option value="_totaal">Totale uitgaven (2010 t.o.v. 2013)</option>
      <option value="_bestuur">Algemeen Bestuur (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_veiligheid">Openbare orde en Veiligheid (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_verkeer">Verkeer, Vervoer en Waterstaat (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_economisch">Economische zaken (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_onderwijs">Onderwijs (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_cultuur">Cultuur en Recreatie (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_sociaal">Sociale zekerheid (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_gezondheid">Volksgezondheid en Milieu (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_huisvesting">Ruimtelijke ordening en Volkshuisvesting (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_overig">Overig (uitgaven 2010 t.o.v. 2013)</option>
      -->
    </select>
  </div>


  <!-- coalition filter -->
  <div class="col-sm-7" style="margin-bottom: 10px;">
    <h5>Filter op coalitie partijen</h5>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('sp')!== -1}" value="sp" ng-click="setFilter('sp')">SP</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('gl')!== -1}" value="gl" ng-click="setFilter('gl')">GroenLinks</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('pvda')!== -1}" value="pvda" ng-click="setFilter('pvda')">PvdA</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('d66')!== -1}" value="d66" ng-click="setFilter('d66')">D66</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('lokaal')!== -1}" value="lokaal" ng-click="setFilter('lokaal')">Lokale partijen</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('cu')!== -1}" value="cu" ng-click="setFilter('cu')">ChristenUnie</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('cda')!== -1}" value="cda" ng-click="setFilter('cda')">CDA</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('vvd')!== -1}" value="vvd" ng-click="setFilter('vvd')">VVD</button>
    </div>    
  </div>


</div>



<!-- NATIONAL -->
<div class="row">
  <div class="national-data-container panel-wrapper">
    <h5>Klik op een gemeente om de financiele details te bekijken</h5>
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- map -->
        <div class="col-sm-7 map">
          <map data="mapData" selected="selectedMunicipalities" filters="filters" color-scale="getMapColorScale()"></map>
        </div>

        <!-- list -->
        <div class="col-sm-5 list">
          <list data="mapData" selected="selectedMunicipalities" filters="filters" color-scale="getMapColorScale()"></list>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MUNICIPALITY DETAILS -->
<div class="row">
  <div class="col-md-6 details" ng-repeat="municipality in selectedMunicipalities">
    <div class="panel panel-default">
      <div class="panel-body">
        <municipality-details data="getMunicipalityDetailsData(municipality)" municipalityId="municipality"></municipality-details>
      </div>
    </div>
  </div>
  






<!-- FOOTER -->
<div class="row">
  <div class="col-md-12" style="margin: 10px 15px 30px 15px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          bronvermedling
        </p>
      </div>
    </div>
  </div>









</div>



