


<!-- CONTROLS -->
<div class="row controls">

  <!-- coalition filter -->
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('sp')!== -1}" value="sp" ng-click="setFilter('sp')">SP</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('gl')!== -1}" value="gl" ng-click="setFilter('gl')">GroenLinks</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('pvda')!== -1}" value="pvda" ng-click="setFilter('pvda')">PvdA</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('d66')!== -1}" value="d66" ng-click="setFilter('d66')">D66</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('lokaal')!== -1}" value="lokaal" ng-click="setFilter('lokaal')">Lokale partijen</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('cu')!== -1}" value="cu" ng-click="setFilter('cu')">ChristenUnie</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('cda')!== -1}" value="cda" ng-click="setFilter('cda')">CDA</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('ton')!== -1}" value="ton" ng-click="setFilter('ton')">TON</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.indexOf('vvd')!== -1}" value="vvd" ng-click="setFilter('vvd')">VVD</button>
    </div>    
  </div>

  <!-- dataset select -->
  <div class="col-xs-12">
    <select ng-model="selectedDataset" class="form-control">
      <option value="totaal">Totale uitgaven (2013)</option>
      <option value="bestuur">Algemeen Bestuur (uitgaven 2013)</option>
      <option value="veiligheid">Openbare orde en Veiligheid (uitgaven 2013)</option>
      <option value="verkeer">Verkeer, Vervoer en Waterstaat (uitgaven 2013)</option>
      <option value="economisch">Economische zaken (uitgaven 2013)</option>
      <option value="onderwijs">Onderwijs (uitgaven 2013)</option>
      <option value="cultuur">Cultuur en Recreatie (uitgaven 2013)</option>
      <option value="sociaal">Sociale zekerheid (uitgaven 2013)</option>
      <option value="gezondheid">Volksgezondheid en Milieu (uitgaven 2013)</option>
      <option value="huisvesting">Ruimtelijke ordening en Volkshuisvesting (uitgaven 2013)</option>
      <option value="overig">Overig (uitgaven 2013)</option>
      <!--
      <option value="_totaal">Totale uitgaven (2010 t.o.v. 2013)</option>
      <option value="_bestuur">Algemeen Bestuur (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_veiligheid">Openbare orde en Veiligheid (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_verkeer">Verkeer, Vervoer en Waterstaat (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_economisch">Economische zaken (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_onderwijs">Onderwijs (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_cultuur">Cultuur en Recreatie (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_sociaal">Sociale zekerheid (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_gezondheid">Volksgezondheid en Milieu (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_huisvesting">Ruimtelijke ordening en Volkshuisvesting (uitgaven 2010 t.o.v. 2013)</option>
      <option value="_overig">Overig (uitgaven 2010 t.o.v. 2013)</option>
      -->
    </select>
  </div>


  <!-- legend -->
  <div class="col-xs-12">
    <ul class="legend">
      
      <li class="pull-left" ng-repeat="item in legend.categories">
        <span class="color {{item.class}}"></span>
        <span class="caption">{{formatLegendCaption(item.min, item.max)}}</span>
      </li>
      <li class="pull-left">
        <span class="color none"></span>
        <span class="caption">Niet bekend</span>
      </li>

      <li class="clearfix"></li>
    </ul>
  </div>


</div>



<!-- NATIONAL -->
<div class="row">

  <!-- map -->
  <div class="col-sm-8 map">
    <map data="mapData" selected="selectedMunicipalities" filters="filters" legend="legend"></map>
  </div>

  <!-- list -->
  <div class="col-sm-4 list">
    <list data="mapData" selected="selectedMunicipalities" filters="filters" legend="legend"></list>
  </div>

</div>



<!-- MUNICIPALITY DETAILS -->
<div class="row">

  <div class="col-md-6 details" ng-repeat="municipality in selectedMunicipalities">
    <municipality-details data="getMunicipalityDetailsData(municipality)" municipalityId="municipality"></municipality-details>
  </div>
  


</div>



