


<!-- CONTROLS -->
<div class="row controls">

  <!-- coalition filter -->
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-default">SP</button>
      <button type="button" class="btn btn-default">GroenLinks</button>
      <button type="button" class="btn btn-default">PvdA</button>
      <button type="button" class="btn btn-default">D66</button>
      <button type="button" class="btn btn-default">Lokale partijen</button>
      <button type="button" class="btn btn-default">ChristenUnie</button>
      <button type="button" class="btn btn-default">CDA</button>
      <button type="button" class="btn btn-default">TON</button>
      <button type="button" class="btn btn-default">VVD</button>
    </div>    
  </div>

  <!-- dataset select -->
  <div class="col-xs-12">
    <select ng-model="selectedDataset" class="form-control">
      <option value="totaal">Totale uitgaven</option>
      <option value="bestuur">Algemeen Bestuur</option>
      <option value="veiligheid">Openbare orde en Veiligheid</option>
      <option value="verkeer">Verkeer, Vervoer en Waterstaat</option>
      <option value="economisch">Economische zaken</option>
      <option value="onderwijs">Onderwijs</option>
      <option value="cultuur">Cultuur en Recreatie</option>
      <option value="sociaal">Sociale zekerheid</option>
      <option value="gezondheid">Volksgezondheid en Milieu</option>
      <option value="huisvesting">Ruimtelijke ordening en Volkshuisvesting</option>
      <option value="overig">Overig</option>
    </select>
  </div>

</div>



<!-- NATIONAL -->
<div class="row">

  <!-- map -->
  <div class="col-sm-8">
    <map></map>
  </div>

  <!-- list -->
  <div class="col-sm-4">
    <list data="getMapData()" selected="selectedMunicipalities"></list>
  </div>

</div>



<!-- MUNICIPALITY DETAILS -->
<div class="row">

  <div class="col-md-6" ng-repeat="municipality in selectedMunicipalities">
    <municipality-details data="getMunicipalityDetailsData(municipality)" municipalityId="municipality"></municipality-details>
  </div>
  


</div>



